body {
    margin: 0px;
}

.login-page-bg {
    background: linear-gradient( 24deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 0.8186624991793592) 35%, rgba(0, 212, 255, 1) 100%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box-content {
    background-color: white;
    box-shadow: 9px 19px 27px rgb(0 0 0 / 40%);
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name-field {
    margin: 8px;
    width: 350px;
    height: 40px;
    border: 1px solid lightgrey;
}

.pwd-field {
    margin: 8px;
    width: 350px;
    height: 40px;
    border: 1px solid lightgrey;
}

.btn-login {
    width: 180px;
    height: 40px;
    border: 2px solid rgb(2, 2, 5);
    border-radius: 4px;
    background: linear-gradient(24deg, rgba(37, 40, 42, 1) 0%, rgba(24, 72, 102, 0.8186624991793592) 40%, rgba(5, 84, 177, 1) 65%, rgba(3, 0, 255, 1) 100%);
    color: white;
    margin-top: 30px;
}

.mdl-layout__header {
    background: linear-gradient(20deg, rgb(59, 68, 75) 0%, rgba(20, 72, 102, 0.8186624991793592) 10%, rgba(5, 84, 177, 1) 40%, rgba(3, 0, 255, 1) 100%);
}

.impressum-box-positioning {
    padding: 16px;
}

.Datenschutz-box-positining {
    padding: 16px;
}

.FAQ-box-positining {
    padding: 16px;
}

.Backlog-box-positining {
    padding: 16px;
}

.margin-left {
    margin-left: 12px;
}


/** import css for draggable function */

@import url('stefan.css');

/** */

.header {
    display: flex;
    flex-direction: row;
    left: 0;
    right: 0;
    height: 72px;
    border-bottom: solid;
    align-items: center;
}

.leftsidebar {
    display: flex;
    flex-direction: column;
    width: 120px;
    left: 0;
    top: 72px;
    bottom: 0;
    align-items: center;
}

.leftsidebar>button {
    height: 42px;
    width: 84px;
    margin-left: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.d-none {
    display: none;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.form1 {
    /** margin-left: 72px;
    margin-top: 72px; */
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 13vw;
}

.form2 {
    display: flex;
    flex-direction: column;
}

.title {
    min-height: 24px;
    margin-bottom: 4px;
}

.text {
    margin-top: 4px;
    min-width: auto;
    min-height: 128px;
}

.submitbutton {
    margin-top: 8px;
    height: 42px;
    width: auto;
}

.headerbuttontoogle {
    margin-left: 12px;
    width: auto;
    height: 42px;
}

.titlebeforetask {
    display: flex;
    margin-left: 72px;
}

.taskbox {
    display: flex;
    flex-direction: row;
    margin-left: 36px;
    margin-top: 72px;
    width: inherit;
    height: max-content;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

.task {
    display: flex;
    flex-direction: column;
    margin: 6px;
    max-width: 300px;
    height: max-content;
    padding: 8px;
    /** background-color: whitesmoke; */
    justify-content: flex-start;
    width: 13vw;
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
}

.btn-login {
    width: 150px;
    height: 40px;
    background-color: rgb(131, 148, 148);
    border: 2px solid rgb(2, 2, 5);
    border-radius: 4px;
    margin-left: 30px;
    cursor: pointer;
}

.deleteicon {
    display: flex;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.archieveicon {
    display: flex;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.note {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 12vw;
    background: whitesmoke;
}

.notebacklog {
    display: flex;
    flex-direction: row;
    border: 1px solid whitesmoke;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 4px;
    padding: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    background: whitesmoke;
    justify-content: space-between;
}

.notearchieve {
    display: flex;
    flex-direction: row;
    border: 1px solid whitesmoke;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 4px;
    padding: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    background: whitesmoke;
    justify-content: space-between;
}

.notetrash {
    display: flex;
    flex-direction: row;
    border: 1px solid whitesmoke;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 4px;
    padding: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    background: whitesmoke;
    justify-content: space-between;
}

.backlogrowtitle {
    display: flex;
    flex-direction: row;
}

.logo-infos {
    width: 60px;
    height: 70px;
    object-fit: cover;
    margin-left: 50px;
    margin-top: 60px;
}

.Board-menu {
    display: flex;
    justify-content: space-around;
}

.task-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
    box-shadow: 15px 15px 70px grey;
    height: max-content;
    border-radius: 12px;
    background: #FAF6FC;
}

.text-center {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.mdl-navigation__link:hover {
    border-left: 5px solid black;
}

.profile-picture {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    border: solid 1px black;
}

.addtaskbutton {
    background: none;
    border: none;
    font-size: 14px;
    color: white;
}

.notefooteractions {
    display: flex;
    flex-direction: row;
    height: max-content;
    justify-content: flex-end;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.Links-login {
    position: absolute;
    right: 4px;
    bottom: 4px;
    margin-bottom: 4px;
}

.link-design-login {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-right: 10px;
}